
/*GENERAL STYLES*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(160, 209, 225);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

img{
    max-width: 100%;
}

/*ARTICLE STYLES*/

article{
    border: 4px double black;
    background-color: white;
    margin-bottom: .5em;
}

/*SECTION STYLES*/
section{
    padding: 3em;

}

/*TAG STYLES*/
h1{
    font-size: 1.6em;

    text-align: center;

    margin-top: 1.4em;
    margin-bottom: 1.2em;
}

p{
    font-size: 1.5em;

    margin-bottom: .7em;
}

.btn{
    padding: 1em;
    margin-bottom: 2.5em;
    border-radius: 10px;


    background-color: crimson;
    color: white;  
}

.btn:hover, .btn:active{
    background-color: rgb(227, 87, 115);
    transform: scale(1.05);
}

p{
    font-size: 1.45em;

    background-image: linear-gradient(#fff, #fff);
    background-size: 0% .07em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

p:hover{
    background-size: 100% 0.07em;
}



/*RESPONSIVE STYLE*/
@media screen and (min-width:900px) {
    section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 75vh;

        gap: .5em
    }
}


